stages:
  - build-backend
  - build-frontend
  - test-container
  - app-container

variables:
  SSH_PORT: "2026"
  DEPLOY_USER: "barry75"
  DEPLOY_HOST: "barryonweb.com"

.default_ssh:
  before_script:
    - apt-get update -y
    - apt-get install -y openssh-client rsync curl
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - eval "$(ssh-agent -s)"
    - ssh-keyscan -p $SSH_PORT $DEPLOY_HOST >> ~/.ssh/known_hosts

# ---------------- backend deployment ----------------
backend-build-and-deploy:
  stage: build-backend
  image: maven:3.9.6-eclipse-temurin-21
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  extends: .default_ssh
  script:
    - cd backend
    - mvn clean package -DskipTests

    - ssh -p $SSH_PORT $DEPLOY_USER@$DEPLOY_HOST "mkdir -p /var/www/chatapp/backend/"
    - scp -P $SSH_PORT target/chatappjn-0.0.1-SNAPSHOT.jar \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/backend/
    - scp -P $SSH_PORT restartProd.sh stopProd.sh \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/backend/

    - ssh -p $SSH_PORT $DEPLOY_USER@$DEPLOY_HOST \
        "mkdir -p /var/www/chatapp/backend/config/"
    - scp -P $SSH_PORT src/main/resources/application.yaml \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/backend/config/

    - ssh -p $SSH_PORT $DEPLOY_USER@$DEPLOY_HOST "mkdir -p /var/www/chatapp/nginx/"
    - scp -P $SSH_PORT ../nginx/* \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/nginx/

    - ssh -p $SSH_PORT $DEPLOY_USER@$DEPLOY_HOST \
        "journalctl -u chatappjn.service -n 50 --no-pager"

# ---------------- frontend deployment ----------------
frontend-build-and-deploy:
  stage: build-frontend
  image: node:20
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  extends: .default_ssh
  script:
    - cd frontend
    - npm install
    - npm run build

    - ssh -p $SSH_PORT $DEPLOY_USER@$DEPLOY_HOST \
        "mkdir -p /var/www/chatapp/frontend"
    - scp -P $SSH_PORT -r dist/* \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/frontend/

# --------- test environment Docker container ----------------------
test-env-containerization:
  stage: test-container
  image: ubuntu:22.04
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  extends: .default_ssh
  script:
    - scp -P $SSH_PORT frontend/Dockerfile \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/frontend/
    - scp -P $SSH_PORT backend/Dockerfile \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/backend/
    - scp -P $SSH_PORT runTestContainer.sh \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/

# -------- Full stack App- Docker container ----------------
app-containerization:
  stage: app-container
  image: ubuntu:22.04
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  extends: .default_ssh
  script:
    - scp -P $SSH_PORT frontend/Dockerfile.prod \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/frontend/
    - scp -P $SSH_PORT backend/Dockerfile.prod \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/backend/
    - scp -P $SSH_PORT docker-compose.yml \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/
    - scp -P $SSH_PORT dumpMongoDbTest.sh rebuildAppContainer.sh \
        $DEPLOY_USER@$DEPLOY_HOST:/var/www/chatapp/
