[Unit]
Description=ChatAppJn Spring Boot Backend
After=network.target

[Service]
EnvironmentFile=/var/www/chatapp/backend/.env.dev
WorkingDirectory=/var/www/chatapp/backend
ExecStart=/usr/bin/java $JAVA_OPTS -jar /var/www/chatapp/backend/chatappjn-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=always
RestartSec=10
User=barry75

[Install]
WantedBy=multi-user.target

